ul {
    list-style: none;
    margin-top: 100px;
    margin-left: 500px;
  }
  
  .rating {
    margin-bottom: 65px;
    margin-left: 200px;
    margin-top: 70px;
  }
  
  h1 {
    color: green;
    text-align: center;
    
  }